@import './variables';

.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;

    box-shadow: 0 0.25rem 0.5rem 0 $shadow-color;
    align-items: center;
    margin: 0 auto;
    border-radius: 6rem;
    padding: 0 2rem;
    background: $white-color;

    &__header {
        position: relative;
        background: $pokeball-red-color;
        border-bottom: 0.5rem solid $border-color;
        border-radius: 6rem 6rem 0 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3rem 2rem;
        font-size: 1.5rem;

        &::after {
            box-sizing: border-box;
            content: '';
            position: absolute;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            bottom: 0 - 1.25rem;
            left: calc(50% - 1rem);
            background: white;
            border: 0.5rem solid $border-color;
        }
    }

    &__name {
        text-transform: capitalize;
    }
}
