.pokemon-stats {
    padding: 0.5rem 0;

    &__stat {
        border-bottom: 1px solid $gray-color;
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 0.5rem 0;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
    }
}
