@import './variables';
@import './spinner';
@import './pokemon';
@import './pokemons';
@import './pokemon-type';
@import './pokemon-stats';

body {
    font-size: 16px;
    font-family: $main-font;
}

ul {
    list-style: none;
    padding: 0;
}
