@import './variables';
@import './spinner';
@import './pokemon';
@import './pokemons';
@import './pokemon-type';
@import './pokemon-stats';

body {
    font-size: 16px;
    font-family: $main-font;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: $text-color;
    text-decoration: none;
}

.main {
    padding: 1rem;
    display: flex;
    justify-content: center;
}
